.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/.cabal-sandbox
.xmonad/cabal.sandbox.config
.xmonad/history
.vim/.netrwhist
.vim/bundle
.vim/spell/en.utf-8.add.spl
.vifm/Trash
.vifm/colors
.vifm/vifm-help.txt
.vifm/vifminfo
.vifm/vifminfo.bak
.vifm/vifmrc.bak
.weechat/logs
.config/Atom
.config/Atom-Shell
.config/chromium
.config/geany
.config/git/gitk
.config/gtk-2.0
.config/keepassx
.config/meld
.config/menus
.config/pulse
.config/terminator
.config/vlc
.config/xfe
.config/ghb
.config/mpd
.config/photoqt
.config/Brackets
.config/unity3d
.config/.mono
.config/KeePass
.config/Notepadqq
.config/Thunar
.config/angular-electron
.config/electron-quick-start
.config/angular-seed-advanced
.config/anjuta
.config/autostart
.config/baloofilerc
.config/d-feet
.config/dolphinrc
.config/skypeforlinux
